.stopwatch {
	display: flex;
	justify-content: space-around;
	align-items: center;

	height: 30vh;
	width: 50vh;

	border: 1px solid grey;
	box-shadow: 0 1px 1px rgba(0,0,0,0.22), 0 2px 2px rgba(0,0,0,0.22), 0 4px 4px rgba(0,0,0,0.22), 0 8px 8px rgba(0,0,0,0.22),0 16px 16px rgba(0,0,0,0.22);


	flex-direction: column;
	border-radius: 20px;
}

.stopwatch-heading{
	font-size: 2em;
	font-family: sans-serif;
	background-color: #426de3;
	color: white;
	width: 100%;
	text-align: center;
	padding: 2% 0;
}

.stopwatch-time {
	font-size: 3em;
	font-family: sans-serif;
}

.stopwatch-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.stopwatch-button{
	font-size: 1.5em;
	font-family: sans-serif;
	background-color: #426de3;
	color: white;
	text-align: center;
	padding: 2% 0;
	width: 30%;
	border-radius: 5%;
}

.stopwatch-button:hover{
	background-color: #083ed4;
}